<template lang="html">
    <div id="manage-import">
        <template v-if="balanceLst.length > 0">
            <div class="pwa-group">
                <button class="pwa pwa-secondary" @click="onCancel($event)">Cancelar</button>
                <button class="pwa pwa-primary" @click="onSave($event)">Salvar</button>
            </div>
        </template>
        <template v-else>
            <div class="row">
                <div class="col-md-3">
                    <label for="select-account"><em>*</em> Competência</label>
                    <select id="select-skills" name="select-skills" class="form-control" v-model="skillCurrent">
                        <option v-for="skill in skillLst" :value="skill.ski_id">{{ skill.ski_value }}</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="select-account"><em>*</em> Grupo de Contas</label>
                    <select id="select-account" name="select-account" class="form-control" v-model="accountGroupCurrent"
                        @change="onResetInputFile($event)">
                        <option value="0" selected>Selecione</option>
                        <option v-for="accountGroup in accountGroupLst" :value="accountGroup.agr_id">{{ accountGroup.agr_name }}</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="file-import"><em>*</em> Arquivo .xlsx</label><br>
                    <input type="file" accept=".xlsx" id="file-import" name="file-import" class="pwa pwa-secondary pwa-block"
                        ref="inputFile" @change="onLoadFile($event)" :disabled="Number(accountGroupCurrent) > 0 ? false : true">
                </div>
            </div>
        </template>

        <hr>

        <balance-grid :balanceLst="balanceLst" :focusOnItem="idSelected" @onEdit="onEdit"></balance-grid>

        <modal v-show="showModal">
            <div slot="header">
                <h3>Edição</h3>
            </div>
            <div slot="body">
                <div class="row">
                    <div class="col-md-12">
                        <label for="select-purchasers"><em>*</em> Comprador: </label>
                        <select id="select-purchasers" name="select-purchasers" class="form-control" v-model="payload.pur_id">
                            <option value="0" selected></option>
                            <option v-for="purchaser in purchaserLst" :value="purchaser.pur_id">{{ purchaser.pur_name }}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="select-accounts-type"><em>*</em> Tipo de Contas: </label>
                        <select id="select-accounts-type" name="select-accounts-type" class="form-control" v-model="payload.acc_id">
                            <option value="0" selected></option>
                            <option v-for="accountType in accountTypeLst" :value="accountType.acc_id">{{ accountType.acc_name }}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="select-priorities"><em>*</em> Prioridade: </label>
                        <select id="select-priorities" name="select-priorities" class="form-control" v-model="payload.pri_id">
                            <option value="0" selected></option>
                            <option v-for="priority in priorityLst" :value="priority.pri_id">{{ priority.pri_name }}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="select-payment-methods"><em>*</em> Forma de Pagamento: </label>
                        <select id="select-payment-methods" name="select-payment-methods" class="form-control" v-model="payload.pay_id">
                            <option value="0" selected></option>
                            <option v-for="paymentMethod in paymentMethodLst" :value="paymentMethod.pay_id">{{ paymentMethod.pay_name }}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="select-payment-terms"><em>*</em> Condição de Pagamento: </label>
                        <select id="select-payment-terms" name="select-payment-terms" class="form-control" v-model="payload.pat_id">
                            <option value="0" selected></option>
                            <option v-for="paymentTerm in paymentTermLst" :value="paymentTerm.pat_id">{{ paymentTerm.pat_name }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div slot="footer">
                <button class="pwa pwa-secondary" @click="closeModal(false)">Cancelar</button>
                <button class="pwa pwa-primary" @click="closeModal(true)">Salvar</button>
            </div>
        </modal>
    </div>
</template>

<script>
import Auth from '@/Auth.js'
import BalanceGrid from '@/foundation/datagrid/BalanceGrid.vue'
import Modal from '@/foundation/modal/Modal.vue'
import XLSX from 'xlsx'
export default {
    name: 'ManageImports',
    components: {
        BalanceGrid,
        Modal
    },
    data () {
        return {
            accountGroupCurrent: 0,
            accountGroupLst: [],
            accountTypeLst: [],
            paymentMethodLst: [],
            paymentTermLst: [],
            priorityLst: [],
            purchaserLst: [],
            skillLst: [],
            skillCurrent: 0,
            balanceTotal: 0,
            idSelected: 0,
            showModal: false,
            balanceLst: [],
            balance: {},
            payload: {}
        }
    },
    mounted () {
        let lookup = Auth.getItem('lookup')
        this.accountTypeLst = lookup.accountTypeLst
        this.priorityLst = lookup.priorityLst
        this.paymentMethodLst = lookup.paymentMethodLst
        this.paymentTermLst = lookup.paymentTermLst
        this.skillLst = lookup.skillLst

        const skillCurrent = this.$options.filters['skillCurrent']()
        this.skillCurrent = lookup.skillLst.filter(item => item.ski_value === skillCurrent)[0].ski_id

        this.getComboList()
    },
    methods: {
        closeModal (saved) {
            let idSelected = Number(this.balance.bal_id)
            this.showModal = !this.showModal
            if (saved) this.fillBalance()
            this.balance = {}
            this.payload = {}
            this.idSelected = idSelected
        },
        fillBalance () {
            this.balance.pay_id = this.payload.pay_id
            this.balance.pay_name = this.paymentMethodLst.filter(item => item.pay_id === this.payload.pay_id)[0].pay_name

            this.balance.pat_id = this.payload.pat_id
            this.balance.pat_name = this.paymentTermLst.filter(item => item.pat_id === this.payload.pat_id)[0].pat_name

            this.balance.acc_id = this.payload.acc_id
            this.balance.acc_name = this.accountTypeLst.filter(item => item.acc_id === this.payload.acc_id)[0].acc_name

            this.balance.pri_id = this.payload.pri_id
            this.balance.pri_name = this.priorityLst.filter(item => item.pri_id === this.payload.pri_id)[0].pri_name

            this.balance.pur_id = this.payload.pur_id
            this.balance.pur_name = this.purchaserLst.filter(item => item.pur_id === this.payload.pur_id)[0].pur_name

            let balanceLst = Object.assign([], this.balanceLst)

            for (let i; i < balanceLst.length; i++) {
                if (Number(balanceLst[i].bal_id) === Number(this.balance.bal_id)) {
                    balanceLst[i] = Object.assign(balanceLst[i], this.balance)
                }
            }

            this.balanceLst = balanceLst
            this.$toasted.success('Compra editada com sucesso!').goAway(1500)
        },
        getComboList () {
            this.$http.get('combo').then(this.afterGetComboList).catch(this.$throwException)
        },
        afterGetComboList ({ data }) {
            this.accountGroupLst = data.accountGroupLst
            this.purchaserLst = data.purchaserLst
        },
        onCancel (evt) {
            window.location.reload()
        },
        onSave (evt) {
            this.$http.post('balance', this.balanceLst).then(this.onAfterSave).catch(this.$throwException)
        },
        onAfterSave ({ data }) {
            this.balanceLst = []
            this.$toasted.success('Importação salva com sucesso!').goAway(1500)
            this.$router.push({ name: 'balance.list' })
        },
        onEdit (evt, id) {
            this.balance = this.balanceLst.filter(item => item.bal_id === id)[0]
            this.showModal = !this.showModal
        },
        onResetInputFile (evt) {
            const input = this.$refs.inputFile
            input.type = 'text'
            input.type = 'file'
        },
        onLoadFile (evt) {
            let files = evt.target.files
            let file = files[0]
            let reader = new FileReader()
            reader.onload = (e) => {
                let data = e.target.result
                let workbook = XLSX.read(data, { type: 'binary' })
                let sheetname = workbook.SheetNames[0]
                let worksheet = workbook.Sheets[sheetname]
                let balanceLst = XLSX.utils.sheet_to_json(worksheet)
                if (this.validateWorksheet(balanceLst[0])) {
                    this.loadList(balanceLst)
                } else {
                    this.worksheetInvalid()
                }
            }
            reader.readAsBinaryString(file)
        },
        loadList (balanceLst) {
            const skillId = this.skillCurrent
            const skillValue = this.skillLst.filter(skill => skill.ski_id === skillId)[0].ski_value

            const accountGroupId = this.accountGroupCurrent
            const accountGroupName = this.accountGroupLst.filter(accountGroup => accountGroup.agr_id === accountGroupId)[0].agr_name

            let id = 1
            balanceLst = balanceLst.map((item) => {
                let keys = Object.keys(item)
                return {
                    agr_id: accountGroupId,
                    agr_name: accountGroupName,
                    ski_id: skillId,
                    ski_value: skillValue,
                    bal_id: id++,
                    bal_date: this.$options.filters['momentFormat'](item[keys[0]], 'MM/DD/YYYY'),
                    bal_account: item[keys[1]],
                    bal_value: Number(item[keys[2]].replace(',', '.'))
                }
            })
            this.balanceLst = balanceLst
        },
        validateWorksheet (item) {
            let keys = Object.keys(item)
            if (keys.length === 3) {
                return this.$options.filters['isDateValid'](item[keys[0]])
            } else {
                return false
            }
        },
        worksheetInvalid () {
            this.$message(
                'Formato Incorreto!',
                'Sua planilha deve estar no seguintes formato:\n | Data | Compra | Valor |',
                'warning'
            )
        }
    }
}
</script>

<style lang="sass">@import "./ManageImports.scss"</style>
