#manage-import {
    .row {
        .col-md-3 {
            select {
                height: 44px;
            }
        }
    }
    .pwa-group {
        button {
            min-width: 150px;
            @media (max-width: 360px)
            {
                min-width: 100%;
                &.pwa-primary {
                    margin-top: 5px;
                }
            }
        }
    }
    #modal-template {
        .modal-container {
            width: 320px;
            label {
                margin: .3rem 0;
                font-size: 12px;
                font-weight: 600;
            }
            select {
                font-size: 13px;
                font-weight: 400;
            }
        }
    }
}
