/* Datagrid */

@import "src/variables.scss";

#balance-grid {
    @import "src/foundation/datagrid/index.scss";
    @media (max-width: 768px)
    {
        .datagrid-container {
            .datagrid-header {
                display: none;
            }
            .datagrid-context {
                display: block;
                margin-bottom: 25px;
                padding: 5px;
                box-shadow: 0 0 1em $divider-color;
                div {
                    display: block;
                    border: initial;
                    text-align: left;
                    span {
                        display: initial;
                        font-weight: 600;
                    }
                }
                &:hover {
                    border: 1px $secondary-color-hover solid;
                }
            }
            .datagrid-footer {
                display: none;
            }
        }
    }
}
