<template lang="html">
    <div id="balance-grid">
        <template v-if="balanceLst.length > 0">
            <div class="datagrid-container">
                <div class="datagrid-header">
                    <div>Competência</div>
                    <div>Grupo</div>
                    <div>Comprador</div>
                    <div>Tipo</div>
                    <div>Prioridade</div>
                    <div>Pagamento</div>
                    <div>Condição</div>
                    <div>Data</div>
                    <div>Compra</div>
                    <div>Valor</div>
                </div>
                <template v-for="balance in balanceLst" :id="balance.bal_id">
                    <div class="datagrid-context" :class="{ 'bg-selected': idSelected == balance.bal_id }"
                        @click="$emit('onEdit', $event, balance.bal_id)" @dblclick="$emit('onEdit', $event, balance.bal_id)">
                        <div><span>Competência: </span>{{ balance.ski_value }}</div>
                        <div><span>Grupo: </span>{{ balance.agr_name }}</div>
                        <div><span>Comprador: </span>{{ balance.pur_name }}</div>
                        <div><span>Tipo: </span>{{ balance.acc_name }}</div>
                        <div><span>Prioridade: </span>{{ balance.pri_name }}</div>
                        <div><span>Pagamento: </span>{{ balance.pay_name }}</div>
                        <div><span>Condição: </span>{{ balance.pat_name }}</div>
                        <div><span>Data: </span>{{ balance.bal_date | formatDate }}</div>
                        <div><span>Compra: </span>{{ balance.bal_account }}</div>
                        <div><span>Valor: </span>{{ balance.bal_value | formatMoney }}</div>
                    </div>
                </template>
                <div class="datagrid-footer">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div class="label">Total:</div>
                    <div class="value">{{ balanceTotal | formatMoney }}</div>
                </div>
            </div>
        </template>
        <div v-else class="alert alert-warning">Nenhum Registro Encontrado!</div>
    </div>
</template>

<script>
export default {
    name: 'BalanceGrid',
    props: {
        balanceLst: {
            type: Array,
            required: true,
            default () { return [] }
        },
        focusOnItem: {
            type: Number,
            default () { return 0 }
        }
    },
    data () {
        return {
            idSelected: 0,
            balanceTotal: 0
        }
    },
    methods: {
        onSelected (evt, id) {
            this.idSelected === id ? this.idSelected = 0 : this.idSelected = id
        }
    },
    watch: {
        balanceLst (data) {
            if (data.length > 0) {
                this.balanceTotal = data.map((item) => { return item.bal_value }).reduce((total, value) => { return total + value })
            }
        },
        focusOnItem (data) {
            if (data > 0) {
                this.idSelected = data
            }
        }
    }
}
</script>

<style lang="sass">@import "./BalanceGrid.scss"</style>
