.datagrid-container {
    display: table;
    width: 100%;
    .datagrid-header {
        display: table-row;
        background-color: $primary-color;
        font-size: 14px;
        color: $color-white;
        width: 100%;
        &:last-child {
            div {
                border-bottom-width: 0;
            }
        }
        div {
            display: table-cell;
            border: 1px $divider-color solid;
            padding: 2px;
            text-align: center;
        }
    }
    .datagrid-context {
        display: table-row;
        font-size: 12px;
        width: 100%;
        div {
            display: table-cell;
            border: 1px $divider-color solid;
            cursor: pointer;
            padding: 2px;
            text-align: center;
            span {
                display: none;
            }
        }
        &:nth-child(odd) {
            background-color: #d9edf7;
        }
        &.bg-selected {
            background-color: #fcf8e3;
        }
        .success {
            color: $primary-color-dark;
            &:hover {
                color: #4cae4c;
            }
        }
        .danger {
            color: $primary-color-dark;
            &:hover {
                color: #d9534f;
            }
        }
    }
    .datagrid-footer {
        display: table-row;
        font-size: 14px;
        font-weight: 500;
        width: 100%;
        div {
            box-sizing: border-box;
            text-transform: uppercase;
            display: table-cell;
            padding: 2px;
            &.label {
                text-align: right;
            }
            &.value {
                text-align: center;
            }
        }
    }
}
