<template lang="html">
    <div id="login">
        <form name="formAuthLogin" class="form-mobile" @submit.prevent="onSubmit($event)">
            <h4>Fluxo de Caixa</h4>
            <div class="form-group">
                <label for="_login">Login</label>
                <input type="text" id="_login" name="_login" class="form-control" v-model="payload.login" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input :type="inputType" id="password" name="password" class="form-control" v-model="payload.password" required>
                <span @click="onChangeInputPassword($event)"><icon :name="iconName" /></span>
            </div>
            <div class="pwa-group">
                <input type="submit" class="btn btn-primary btn-block" value="Entrar">
            </div>
            <label for="cadastro">Ainda não tem cadastro?</label>
            <div class="pwa-group">
                <router-link tag="button" class="pwa pwa-secondary pwa-block" :to="{ name: 'user.store' }">
                    Cadastre-se
                </router-link>
            </div>
        </form>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import Auth from '@/Auth.js'
export default {
    name: 'AuthLogin',
    computed: {
        ...mapGetters([
            'isLogged',
            'user'
        ])
    },
    data () {
        return {
            showPassword: false,
            iconName: 'eye',
            inputType: 'password',
            payload: {}
        }
    },
    methods: {
        ...mapActions([
            'setUser',
            'setIsLogged'
        ]),
        onChangeInputPassword (evt) {
            this.showPassword = !this.showPassword
            this.inputType = !this.showPassword ? 'password' : 'text'
            this.iconName = !this.showPassword ? 'eye' : 'eye-slash'
        },
        redirectDashboard () {
            this.$router.push({ name: 'welcome.dashboard' })
        },
        getLookups () {
            this.$http.get('lookup').then(this.afterGetLookups).catch(this.$throwException)
        },
        afterGetLookups ({ data }) {
            Auth.setItem('lookup', data)
            this.redirectDashboard()
        },
        afterSubmit ({ data }) {
            Auth.setItem('id_token', data.id_token)
            this.setIsLogged(Auth.isLogged())
            this.setUser(Auth.getUser())
            this.getLookups()
        },
        onSubmit (evt) {
            this.$http.post('auth', this.payload).then(this.afterSubmit).catch(this.$throwException)
        }
    }
}
</script>

<style lang="sass">@import "./Login.scss"</style>
