<template>
    <div id="user">
        <form name="formAuthUser" class="form-mobile" @submit.prevent="onSubmit($event)">
            <h3>Perfil</h3>
            <div class="form-group">
                <label for="use_name">Name</label>
                <input type="text" id="use_name" name="use_name" class="form-control" v-model="user.use_name">
            </div>
            <div class="form-group">
                <label for="use_email">E-mail</label>
                <input type="email" id="use_email" name="use_email" class="form-control" v-model="user.use_email">
            </div>
            <div class="form-group">
                <label for="use_login">Login</label>
                <input type="text" id="use_login" name="use_login" class="form-control" v-model="user.use_login">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input :type="inputType" id="password" name="password" class="form-control" v-model="user.use_password" required>
                <span @click="onChangeInputPassword($event)"><icon :name="iconName" /></span>
            </div>
            <div class="pwa-group">
                <router-link tag="button" class="pwa pwa-secondary" :to="{ name: 'auth.login' }" v-if="!$isUpdate">
                    Cancelar
                </router-link>
                <input type="submit" class="btn btn-primary" value="Salvar">
            </div>
        </form>
    </div>
</template>

<script>
import { mapActions } from 'vuex'
import Auth from '@/Auth.js'
export default {
    name: 'AuthUser',
    data () {
        return {
            showPassword: false,
            iconName: 'eye',
            inputType: 'password',
            user: {}
        }
    },
    mounted () {
        this.$isUpdate ? this.getById(this.$idEdit) : this.user = {}
    },
    methods: {
        ...mapActions([
            'setUser'
        ]),
        redirectLastRoute () {
            let name = Auth.getItem('last_route') || 'auth.login'
            this.$router.push({ name })
        },
        onChangeInputPassword (evt) {
            this.showPassword = !this.showPassword
            this.inputType = !this.showPassword ? 'password' : 'text'
            this.iconName = !this.showPassword ? 'eye' : 'eye-slash'
        },
        afterGetById ({ data }) {
            this.user = data
        },
        getById (id) {
            this.$http.get(`user/${id}`).then(this.afterGetById).catch(this.$throwException)
        },
        afterSubmit ({ data }) {
            this.redirectLastRoute()
        },
        onSubmit (evt) {
            if (this.$isUpdate) {
                this.$http.put(`user/${this.$idEdit}`, this.user).then(this.afterSubmit).catch(this.$throwException)
            } else {
                this.$http.post('user', this.user).then(this.afterSubmit).catch(this.$throwException)
            }
        }
    }
}
</script>

<style lang="sass">@import "./User.scss"</style>
