<template lang="html">
    <div id="dashboard">
        <div class="row">
            <div class="col-md-4">
                <router-link tag="div" class="card" :to="{ name: 'purchaser.main' }">
                    <img class="card-img-top" src="static/img/purchasers.png" alt="Compradores">
                    <div class="card-block">
                        <h4 class="card-title">Compradores</h4>
                        <p class="card-text">Crie seu próprio agente de compra.</p>
                    </div>
                </router-link>
            </div>
            <div class="col-md-4">
                <router-link tag="div" class="card" :to="{ name: 'account.main' }">
                    <img class="card-img-top" src="static/img/grupo-de-contas.png" alt="Grupo de Contas">
                    <div class="card-block">
                        <h4 class="card-title">Grupo de Contas</h4>
                        <p class="card-text">Crie seu próprio grupo de contas.</p>
                    </div>
                </router-link>
            </div>
            <div class="col-md-4">
                <router-link tag="div" class="card" :to="{ name: 'balance.main' }">
                    <img class="card-img-top" src="static/img/fluxo-de-caixa.png" alt="Fluxo de Caixa">
                    <div class="card-block">
                        <h4 class="card-title">Fluxo de Caixa</h4>
                        <p class="card-text">Controle todas as suas contas de maneira simples e organizada.</p>
                    </div>
                </router-link>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <router-link tag="div" class="card" :to="{ name: 'reports.main' }">
                    <img class="card-img-top" src="static/img/reports.png" alt="Relatórios">
                    <div class="card-block">
                        <h4 class="card-title">Relatórios</h4>
                        <p class="card-text">Gere relatórios inteligentes e tenha mais controle em suas contas.</p>
                    </div>
                </router-link>
            </div>
            <div class="col-md-4">
                <router-link tag="div" class="card" :to="{ name: 'calendar.main' }">
                    <img class="card-img-top" src="static/img/calendar.png" alt="Calendário">
                    <div class="card-block">
                        <h4 class="card-title">Calendário</h4>
                        <p class="card-text">Tenha uma visão geral dos seus gastos dentro do mês.</p>
                    </div>
                </router-link>
            </div>
            <div class="col-md-4">
                <router-link tag="div" class="card" :to="{ name: 'manage.imports' }">
                    <img class="card-img-top" src="static/img/manage-imports.png" alt="Gerenciar Importações">
                    <div class="card-block">
                        <h4 class="card-title">Importações</h4>
                        <p class="card-text">Importe seu arquivo .xlsx com suas contas.</p>
                    </div>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'AuthDashboard'
}
</script>

<style lang="sass">@import "./Dashboard.scss"</style>
