@import "src/variables.scss";

#dashboard {
    .col-md-4 {
        margin-bottom: 10px;
    }
	.card {
		margin: 0 auto;
		min-width: 240px;
		width: 100%;
		max-width: 320px;
		cursor: pointer;
		img {
			height: 200px;
			border-bottom: 3px $background-color solid;
		}
		div {
			height: 140px;
		}
		&:hover {
			border: 3px $secondary-color-hover solid;
		}
	}
}
