@import "src/variables.scss";

#balance {
	.material-switch {
		margin-top: 2px;
		margin-left: -4px;
		padding: 1px 0;
	    height: 32px;
	}

	.material-switch > input[type="checkbox"] {
	    display: none;
	}

	.material-switch > label {
	    cursor: pointer;
	    height: 0px;
	    position: relative;
	    width: 60px;
	}

	.material-switch > label::before {
	    background: rgb(0, 0, 0);
	    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
	    border-radius: 12px;
	    content: '';
	    height: 24px;
	    margin-top: -12px;
	    position:absolute;
	    opacity: 0.3;
	    transition: all 0.4s ease-in-out;
	    width: 80px;
	}

	.material-switch > label::after {
	    background: rgb(255, 255, 255);
	    border-radius: 24px;
	    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	    content: '';
	    height: 32px;
	    left: 0;
	    margin-top: -12px;
	    position: absolute;
	    top: -4px;
	    transition: all 0.3s ease-in-out;
	    width: 24px;
	}

	.material-switch > input[type="checkbox"]:checked + label::before {
	    background: inherit;
	    opacity: 0.5;
	}

	.material-switch > input[type="checkbox"]:checked + label::after {
	    background: inherit;
	    left: 56px;
	}

	.container-filter {
		background-color: $primary-color;
		color: $color-white;
	    border: 2px solid $primary-border-color;
	    border-radius: 5px;
	    padding: 10px;
		margin-bottom: 10px;
		label {
			font-size: 13px;
			font-weight: 400;
			text-align: left;
		}
	}
	form {
		.form-group {
			margin-bottom: 1px;
		 	label {
				font-size: 12px;
				font-weight: 600;
				margin-bottom: 1px;
			}
			input[type=date] {
				line-height: 30px;
				padding: 2px 15px;
			}
		}
        .pwa-group {
            margin-top: 12px;
        }
        @media (min-width: 720px)
        {
            &.form-mobile {
                width: 640px;
            }
        }
	}
}
