<template lang="html">
    <div id="balance">
        <balance-filter @getList="getList" @onDownload="onDownload"></balance-filter>
        <div class="row">
            <div class="col-md-12">
                <balance-grid :balanceLst="balanceLst" @onEdit="onEdit"></balance-grid>
            </div>
        </div>
    </div>
</template>

<script>
import XLSX from 'xlsx'
import BalanceFilter from './Filter.vue'
import BalanceGrid from '@/foundation/datagrid/BalanceGrid.vue'
export default {
    name: 'BalanceList',
    components: {
        BalanceFilter,
        BalanceGrid
    },
    data () {
        return {
            idSelected: 0,
            balanceLst: []
        }
    },
    methods: {
        onEdit (evt, id) {
            this.$router.push({ name: 'balance.update', params: { id } })
        },
        getList (payload) {
            this.$http.get(`balance?${this.$urlEncode(payload)}`).then(this.afterGetList).catch(this.$throwException)
        },
        afterGetList ({ data }) {
            this.balanceLst = data
        },
        onDownload (evt) {
            /* starting from this data */
            let data = []
            this.balanceLst.forEach((balance) => {
                data.push({
                    'Competência': balance.ski_value,
                    'Tipo de Conta': balance.acc_name,
                    'Grupo de Conta': balance.agr_name,
                    'Prioridade': balance.pri_name,
                    'Forma de Pagamento': balance.pay_name,
                    'Condição de Pagamento': balance.pat_name,
                    'Comprador': balance.pur_name,
                    'Compra': balance.bal_account,
                    'Data': balance.bal_date,
                    'Valor da Compra': balance.bal_value,
                    'Observação': balance.bal_comments
                })
            })

            /* generate a worksheet */
            let ws = XLSX.utils.json_to_sheet(data)

            /* add to workbook */
            let wb = XLSX.utils.book_new()
            XLSX.utils.book_append_sheet(wb, ws, 'Fluxo de Caixa')

            /* write workbook (use type 'array' for ArrayBuffer) */
            let wbout = XLSX.write(wb, { bookType: 'xlsx', type: 'array' })

            /* generate a download */
            let link = document.createElement('a')
            let blob = new Blob([wbout], { type: 'application/octet-stream' })
            link.href = window.URL.createObjectURL(blob)
            link.download = 'Fluxo de Caixa.xlsx'
            link.click()
        }
    }
}
</script>

<style lang="sass">@import "./Balance.scss"</style>
