<template lang="html">
    <div id="balance-reports">
        <h1>Relatótios</h1>
    </div>
</template>

<script>
export default {
    name: 'BalanceReports'
}
</script>

<style lang="sass">@import "./BalanceReports.scss"</style>
