<template lang="html">
    <div id="purchaser">
        <form name="formPurchaser" class="row">
            <div class="col-md-3">
                <label for="name" class="col-form-label">Compradores: </label>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" name="name" v-model="payload.pur_name" required>
            </div>
            <div class="col-md-3">
                <button class="btn btn-success btn-block" @click.prevent.default="onSubmit($event)">Salvar</button>
            </div>
        </form>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div v-if="purchaserLst.length > 0">
                    <div class="datagrid-container">
                        <div class="datagrid-header bg-primary">
                            <div>Grupo de Contas</div>
                            <div>Criado Em</div>
                        </div>
                        <template v-for="purchaser in purchaserLst" :id="purchaser.pur_id">
                            <div class="datagrid-context" :class="{ 'bg-selected': idSelected == purchaser.pur_id }"
                                @click="idSelected == purchaser.pur_id ? idSelected = 0 : idSelected = purchaser.pur_id"
                                @dblclick="onEdit($event, purchaser)">
                                <div>{{ purchaser.pur_name }}</div>
                                <div>{{ purchaser.pur_created_at | formatDate }}</div>
                            </div>
                        </template>
                    </div>
                </div>
                <div v-else class="alert alert-warning">Nenhum Registro Encontrado!</div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Purchaser',
    data () {
        return {
            purchaserLst: [],
            idSelected: 0,
            payload: {}
        }
    },
    mounted () {
        this.getList()
    },
    methods: {
        onEdit (evt, purchaser) {
            console.log(purchaser)
        },
        getList () {
            this.$http.get('purchaser').then(this.afterGetList).catch(this.$throwException)
        },
        afterGetList ({ data }) {
            this.purchaserLst = data
        },
        afterSubmit ({ data }) {
            this.payload = {}
            this.getList()
        },
        onSubmit (evt) {
            // console.log({ evt })
            this.$http.post('purchaser', this.payload).then(this.afterSubmit).catch(this.$throwException)
        }
    }
}
</script>

<style lang="sass">@import "./Purchaser.scss"</style>
