@import "src/variables.scss";

#app {

    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;

    #navbar {
        display: table;
        position: fixed;
        min-height: 60px;
        height: 100%;
        max-height: 60px;
        background-color: $primary-color;
        &.show-menu {
            left: 320px;
            width: calc(100% - 320px);
        }
        &.hidden-menu {
            left: 0;
            width: 100%;
        }
        ul {
            display: table-row;
            height: 100%;
            width: 100%;
            padding: 0;
            margin: 0;
            li {
                display: table-cell;
                list-style: none;
                vertical-align: middle;
                text-align: center;
                color: $color-white;
                cursor: pointer;
                margin: 0;
                .fa-icon {
                    vertical-align: middle;
                }
                &:hover {
                    background-color: $secondary-color-hover;
                    color: $color-white;
                }
            }
        }
    }

    #navbar-profile {
        box-sizing: border-box;
        background-color: $primary-color-dark;
        display: inline-block;
        position: fixed;
        left: 0;
        top: 60px;
        text-align: center;
        height: 25px;
        width: 100%;
        span {
            color: $color-white;
            font-size: 12px;
            font-weight: 600;
        }
    }

    #sidebar {
        box-sizing: border-box;
        display: inline-block;
        position: fixed;
        height: 100%;
        min-width: 320px;
        width: 100%;
        max-width: 320px;
        background-color: $primary-color;
        border: 1px $color-black solid;
        z-index: 9999;
        ul {
            margin: 0;
            padding: 0;

            li {
                cursor: pointer;
                font-size: 15px;
                list-style: none;
                padding: 14px 20px;
                color: $color-white;
                min-height: 50px;
                height: 100%;
                max-height: 50px;

                &.router-link-active {
                    background-color: $secondary-color;
                    color: $color-white;
                }

                &:hover {
                    background-color: $secondary-color-hover;
                    color: $color-white;
                    font-weight: 600;
                }
            }
        }
    }

    #view-container {
        box-sizing: border-box;
        background-color: $background-color;
        display: inline-block;
        position: fixed;
        left: 0;
        top: 84px;
        width: 100%;
        padding-top: 12px;
        padding-bottom: 88px;
        height: 100%;
        overflow-y: scroll;
    }

    /* Form Responsible */

    form.form-mobile {
        position: relative;
        border: 1px $divider-color solid;
        border-radius: 5px;
        margin: 0 auto;
        padding: 15px;
        width: 320px;
        h3 {
            margin-top: 0;
            color: $success-color-light;
        }
        label {
            font-size: 12px;
            font-weight: 600;
        }
        span {
            .fa-icon {
                cursor: pointer;
                float: right;
                margin-top: -28px;
                margin-right: 10px;
            }
        }
    }

    /* CSS Global */

    font-family: 'Roboto', Arial, Sans-Serif;
    height: 100%;
    width: 100%;

    em {
        color: #f00;
        font-size: 15px;
        font-weight: 600;
    }
    button {
        cursor: pointer;
    }
    .title {
        font-size: 24px;
        font-weight: 500;
    }

    .pwa-group {
        width: 100%;
        text-align: right;
    }

    .pwa {
        display: inline-block;
        font-weight: normal;
        line-height: 1.25;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border-radius: 0.25rem;
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        min-width: 50px;
        &:focus,
        &:hover {
            text-decoration: none;
        }
        &:focus {
            outline: 0;
            -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
            box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
        }
        &:disabled {
            cursor: not-allowed;
            opacity: .65;
        }
        &:active {
            background-image: none;
        }
        &.pwa-primary {
            color: $color-white;
            background-color: $primary-color;
            border-color: $primary-border-color;

            &:hover {
                color: $color-white;
                background-color: $primary-color-hover;
                border-color: $primary-border-hover;
            }
            &:focus {
                -webkit-box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.5);
                box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.5);
            }
            &:disabled {
                background-color: $primary-color;
                border-color: $primary-border-color;
            }
            &:active {
                color: $color-white;
                background-color: $primary-color-hover;
                background-image: none;
                border-color: $primary-border-hover;
            }
        }
        &.pwa-secondary {
            color: $color-white;
            background-color: $secondary-color;
            border-color: $secondary-border-color;

            &:hover {
                color: $color-white;
                background-color: $secondary-color-hover;
                border-color: $secondary-border-hover;
            }
            &:focus {
                -webkit-box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.5);
                box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.5);
            }
            &:disabled {
                background-color: $secondary-color;
                border-color: $secondary-border-color;
            }
            &:active {
                color: $color-white;
                background-color: $secondary-color-hover;
                background-image: none;
                border-color: $secondary-border-hover;
            }
        }
    }
    .pwa-block {
        display: block;
        width: 100%;
    }

    .pwa-block + .pwa-block {
        margin-top: 0.5rem;
    }

    input[type="submit"].pwa-block,
    input[type="reset"].pwa-block,
    input[type="button"].pwa-block {
        width: 100%;
    }
}
