/* Primary Color Theme */
$primary-color-dark:        #025aa5;
$primary-color:             #0275d8;
$primary-border-color:      #0275d8;
$primary-color-hover:       #025aa5;
$primary-border-hover:      #01549b;
$primary-color-light:       #c5cae9;
$primary-text-color:        #212121;

/* Secondary Color Theme */
$secondary-color:           #ff4081;
$secondary-border-color:    #ff4081;
$secondary-color-hover:     #d81b60;
$secondary-border-hover:    #d81b60;
$secondary-text-color:      #757575;

/* Success Color Theme */
$success-color:             #5cb85c;
$success-border-color:      #5cb85c;
$success-color-hover:       #449d44;
$success-border-hover:      #419641;
$success-color-light:       #42b983;

/* Auxiliar */
$divider-color:             #bdbdbd;
$background-color:          #fafafa;

/* Colors */
$color-white:               #ffffff;
$color-black:               #000000;
