<template lang="html">
    <div id="calendar">
        <full-calendar
            @changeMonth="changeMonth"
            @dayClick="dayClick"
            @eventClick="eventClick"
            :weekNames="weekNames"
            :monthNames="monthNames"
            :titleFormat="titleFormat"
            :events="eventLst">
        </full-calendar>
    </div>
</template>

<script>

import FullCalendar from 'vue-fullcalendar'

export default {
    name: 'Calendar',
    components: {
        FullCalendar
    },
    data () {
        return {
            weekNames: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],
            monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
            titleFormat: 'MMMM yyyy',
            eventLst: []
        }
    },
    mounted () {
        this.getEvents()
    },
    methods: {
        getEvents (payload) {
            this.$http.get(`calendar?${this.$urlEncode(payload)}`).then(this.afterGetEvents).catch(this.$throwException)
        },
        afterGetEvents ({ data }) {
            this.eventLst = data
        },
        changeMonth (start, end, current) {
            // console.log({ start, end, current })
        },
        dayClick (day, evt) {
            console.log(day)
        },
        eventClick (event, evt, pos) {
            this.$router.push({ name: 'balance.update', params: { id: event.id } })
        }
    }
}
</script>

<style lang="sass">@import "./Calendar.scss"</style>
